<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>はじめの一歩</title>
  </head>
  <body>
    <h1>ユーザー編集ページ</h1>
    <div>
      <label for="name">ユーザー名</label>
      <input type="text" class="form-control" style="width:２００px;" id="user" placeholder="ユーザー名" >
      <input type="password" class="form-control" style="width:２００px;" id="password" placeholder="パスワード" >
      <button id="save_user" onclick="saveUser()">ユーザー登録</button>
      <button onclick="location.href='/input3'">戻る</button>
    </div>
    
    <script>
      function saveUser() {
        const textBox1 = document.getElementById('user'); // テキストボックス
        const user_name = textBox1.value; //テキストボックスに書かれた内容
        const textBox2 = document.getElementById('password') //テキストボックス
        const user_password = textBox2.value; //テキストボックスに書かれた内容
        
        const user_np = {name:user_name, password:user_password};
        
        const url = '/save'; // 通信先
       const req = new XMLHttpRequest(); // 通信用オブジェクト
       req.onreadystatechange = function(){
       if(req.readyState == 4 && req.status == 200) {
        alert('成功'); // 成功したらアラート表示
       }
      };
      req.open('POST', url, true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.send(JSON.stringify(user_np)); // オブジェクトを文字列化して送信
     };

      
      
    </script>
    
  </body>
</html>
