<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>はじめの一歩</title>
  </head>
  <body>
    <h1>ユーザー編集ページ</h1>
    <div>
      <label for="name">ユーザー名</label>
      <input type="text" class="form-control" style="width:２００px;" id="user" placeholder="ユーザー名" >
      <input type="password" class="form-control" style="width:２００px;" id="password" placeholder="パスワード" >
      <button id="save_user" onclick="saveQuestions()">ユーザー登録</button>
      <button onclick="location.href='/input3'">戻る</button>
    </div>
    
    
  </body>
</html>
