<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>ユーザー情報ページ</title>
  </head>
  <body>
    <h1>ユーザー情報ページ</h1>
    <div>
      <label for="name">ユーザー名</label>
      <input type="text" class="form-control" style="width:２００px;" id="user" placeholder="ユーザー名"><!-- データベースに入っている名前から部分一致検索ができるようにする -->
    </div>
    
    <div>
      <p>就業時間の確認</p>
      <!-- 日付入力 -->
      <input  type="date">~<input  type="date">
      <button>計算</button>
    </div>
    
    <div style="padding:20px;">
      <!-- 日付入力 -->
      <label　>打刻時間の確認と編集<br></label>
      <input  type="date" id="search_day">
      <button id="tosearch">確認</button>
    </div>
    
    
    
    <div style="padding:20px;">
      <button onclick="location.href='/input3'" >戻る</button>
    </div>
    
    <script>
      document.getElementById("tosearch").onclick = function(){

      const search_day = document.getElementById("search_day").value;
  

  
      const url = '/find'; // 通信先
      const req = new XMLHttpRequest(); // 通信用オブジェクト
      req.open('POST', url, true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.send(JSON.stringify(search_day));
      console.log(search_day);
        
      req.onreadystatechange = function(){
      if(req.readyState == 4 && req.status == 200) {
        console.log(req.response);
        
        }
      }
    };

      
      
    </script>
    
  </body>
</html>