<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>はじめの一歩</title>
  </head>
  <body>
    <h1>ユーザー情報ページ</h1>
    <label for="name">ユーザー名</label>
    <input type="text" class="form-control" style="width:２００px;" id="user" placeholder="ユーザー名" >
    <input type="text" class="form-control" style="width:２００px;" id="password" placeholder="パスワード" >
    <button onclick="location.href='index.html'">ユーザー登録</button>
    <button onclick="location.href='/input3'">戻る</button>
  </body>
</html>